<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Coronavirus_tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1><b>Coronavirus Tracker Application</b></h1>
<p>This application lists the current number of cases reported across the globe.</p>


    <div class="jumbotron bg-danger text-white">
        <b>
            <h1 class="display-4 " th:text="${totalReportedCases}"></h1>
        </b>
        <p class="lead">Total cases reported.</p>
        <hr class="my-4 bg-danger text-white">
        <p>
            <span>New cases reported since previous day:</span>
            <b>
                <span th:text="${totalNewCases}"></span>
            </b>
        </p>
    </div>

    <div class="jumbotron bg-success text-white">
        <b>
            <h1 class="display-4 " th:text="${totalRecoveryCases}"></h1>
            <p class="lead">Total recovery cases reported.</p>
        </b>
        <hr class="my-4">
        <p>
            <span>New recovery cases reported since previous day:</span>
            <b>
                <span th:text="${totalNewRecoveryCases}"></span>
            </b>
        </p>
    </div>


    <table class="table table-dark">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported</th>
        <th>Changes since last day</th>
        <th>Total recovery cases reported</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
        <td th:text="${locationStat.diffFromPrevDay}">0</td>
        <td th:text="${locationStat.latestTotalRecoveryCases}">0</td>
    </tr>
</table>
</div>


</body>

</html>